
h1{
  text-align: center;
  padding: 1rem;
}
h2{
  text-align: center;
  padding: 1rem;
}
/*para darle color al fondo del menu*/
.bg-marino{
  background-color: #17202A;
  
  }

  .CarritoCompras{
    width: 20%;
    margin: auto 3rem;
  }
  .contadorCarrito label{
   display: block;
   text-align: center;
   font-size: 2rem;
  }
  .BotonItemCount{
    text-align: center;
  }
  .cardJuegos{
    display: flex;
    width: 80%;
    margin: 0 auto;
  }
  .cardJuego{
    margin: 1rem;
  }
  .cardNombre{
    text-align: center;
    margin: 0 auto;
  }
  
  .detalleJuegos{
    text-align: center;
  }
  .imagenDetalle{
    width: 50%;
  }
  .detalleJuegos p{
    margin: 1rem;
    line-height: rem;
  }
  .cardJuegoDetalle{
    margin: 1rem auto;
  }
  
  